.transport-table {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.border {
  border: 1px solid black;
  border-collapse: collapse;
}
.cell-padding {
  padding: 15px;
}